<!DOCTYPE html>  
{% load static %}
<link 
rel = "stylesheet"
type = "text/css"
href = "{% static '/bootstrap/css/bootstrap.min.css' %}"
/>
<html lang="en">
<head>  
    <style>
        @media (min-width: 576px) {
            .h-sm-100 {
                height: 100%;
            }
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI --> 
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>  
<body>  
    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
        </script>
    
    <nav class="navbar justify-content-center" style="background-color: #171b62;">
        <img src="{% static 'images/logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="">
    <div class="px-5">
        <h1 style="color: white;">Ethiopian Artificial Intelligence Institute</h1> 
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-5">
                    <form method="post",enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="Image" class="form-label">{{ text }}</label>
                        <input class="form-control" type="file" id="formFile" name="myfile",onchange="preview()">
                        <button onclick="clearImage()" class="btn btn-primary mt-3">Upload Image</button>
                    </form>
                    {% if uploaded_file_url %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}
                </div>
                <img id="frame" src="" class="img-fluid" />
            </div>
            <div class="col">
            2 of 2
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <button onclick="clearImage()" class="btn btn-primary mt-3">Classify</button>
            </div>
            <div class="col">
                <button onclick="clearImage()" class="btn btn-primary mt-3">Segment</button>
            </div>
            <div class="col">
                <button onclick="clearImage()" class="btn btn-primary mt-3">Explain</button>
            </div>
        </div>
   </div>
     {% block content %}
     {% endblock %}
</body>  
</html>  