{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>lung-disease-detection</title>  
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" >  
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>  
    <script>alert();</script>  
</head>  
<body>  
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Ethiopian Artificial Intelligence Institute
    </a>
    </nav>
    
     {% block content %}
     {% endblock %}
        </main>
</body>  
</html>  