{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>lung-disease-detection</title>  
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" >  
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>  
    <script>alert();</script>  
</head>  
<body>  
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <img src="{% static 'images/logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="">
        <h1>Ethiopian Artificial Intelligence Institute</h1> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
      </nav>
     {% block content %}
     {% endblock %}
        </main>
</body>  
</html>  