{% extends 'index.html' %}
{% block content %}
<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
        }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
        }
</script>
<div class="col">
    <div class="row">
        <div class="mb-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="Image" class="form-label">{{ text }}</label>
                <input class="form-control" type="file" id="formFile" name="myfile"  onchange="preview()">
                <button class="btn btn-primary mt-3">Upload Image</button>
            </form>
        </div>
    </div>
    {% block upload%}
    {% endblock %}
</div>
{% endblock content %}