        {% extends 'index.html' %}
        {% block content %}
        <div class="col">
                <div class="mb-5">
                    <label for="Image" class="form-label">{{ text }}</label>
                    <input class="form-control" type="file" id="formFile" onchange="preview()">
                    <button onclick="clearImage()" class="btn btn-primary mt-3">Upload Image</button>
                        <!-- <button onclick="clearImage()" class="btn btn-primary mt-3">Classify</button> -->
                </div>
                <img id="frame" src="" class="img-fluid" />
            </div>
        {% endblock %}