{% extends 'index.html' %} {% block body %}
<div class="row">
    <div class="col col-md-4">
        <a href="{% url 'DiseaseClassification:add' %}" class="nav-link m-2"><button class="btn btn-sm btn-primary" id="upload">
				<i class="fas fa-upload"></i> Upload new image
			</button></a
		>
	</div>
</div>
	<div class="row">
		{% for pic in pictures %}
		<div class="col-lg-6 col-md-4 col-sm-12 mt-2">
			<div class="card" style>
				<a href="{% url 'DiseaseClassification:detail' pic.id %}">
					<img
						src="{{pic.image.url}}"
						class="card-img-top"
						width="200"
						height="350"
					/>
				</a>
        <div class="card-body ">
            <h6 class="card-title" style="overflow-x: hidden;
			text-indent: -53px;">
                {{name}}

            </h6>

            <p class="card-text">{{pic.dateOfSubmission}}</p>
			{% if pic.diagnosis == "Healthy"%}
				<span class="badge badge-success">{{pic.diagnosis}}</span>
		
			{%else%}
				<span class="badge badge-danger">{{pic.diagnosis}}</span>
				{%endif%}	
			<a href="{% url 'DiseaseClassification:detail' pic.id %}">
			
			</a>
        </div>
    </div>
</div>
{% endfor %} {% endblock body %}
</div>
</div>