{% extends 'index.html' %} {% block body %} 
{% load crispy_forms_tags %}
<div class="row">
	<div class="col">
		<div class="form-group">
			<form action="" method="post" enctype="multipart/form-data">
				{%csrf_token%} 
				<!-- {{form|crispy}} -->
				 <input class="form-control" type="file" name='myfile',id="formFile" onchange="preview()">
				<button class="btn btn-md btn-success m-2" type="submit">
					Diagnosis
				</button>

			</form>
			 <img id="frame" src="" class="img-fluid" />
		</div>
	</div>
</div>
{% endblock body %}
